.navbar
{
    height: 120px;
    width: 100%;
    border: 4px solid rgb(126, 152, 88);
    border-radius: 20px;
    background-color: rgb(18, 16, 5);
    border-top: none;
    border-left: none;
    border-right: none;

}

.about1
{
    
    font-size: 30px;
    font-weight: bolder;
    opacity: 0; 
            color: rgb(33, 33, 170); 
            animation: fadeColorChange 5s ease-in-out forwards;
}
@keyframes fadeColorChange {
    0% {
        opacity: 0;
        color: rgb(89, 253, 24); 
    }
    100% {
        opacity: 1; 
        color: red; 
    }
}
.about
{
    transition: transform 0.3s;
    font-size: 30px;
    font-weight: bolder;
}
.about:hover{
    transform: scale(1.1);
}
.nav
{
    padding: 0px;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info
{
    height: 600px;
    width: 100%;
    background-color: rgb(18, 16, 5);
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(234, 235, 195);  font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#abc
{
    height: 500px;
    width: auto;
    margin-left: 30px;
    word-wrap: normal;
    margin-right: 20px;
}
#members
{
    height: autp;
    border: 4px solid rgb(126, 152, 88);
    border-radius: 20px;
    background-color: rgb(18, 16, 5);;
}
#m1
{
    height: auto;
    display: flex;
    width: 90%;
    margin-left: 110px;
    border: 2px solid rgb(62, 137, 167);
    border-radius: 20px;
    background-color: rgb(45, 43, 38);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-size:cover ;
    transition: transform 0.3s;
}
#m1:hover
{
    transform: scale(1.05);
}
#m11
{
    margin-top: 20px;
    height: auto;
    display: flex;
    width: 90%;
    margin-left: 110px;
    border: 2px solid rgb(62, 137, 167);
    border-radius: 20px;
    background-color: rgb(45, 43, 38);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    transition: transform 0.3s;
}
#m2
{
    margin-top: 20px;
    height: auto;
    display: flex;
    width: 90%;
    margin-left: 110px;
    border: 2px solid rgb(62, 137, 167);
    border-radius: 20px;
    background-color: rgb(45, 43, 38);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    transition: transform 0.3s;
}
#m3
{
    margin-top: 20px;
    height: 380px;
    display: flex;
    width: 90%;
    margin-left: 110px;
    border: 2px solid rgb(62, 137, 167);
    border-radius: 20px;
    background-color: rgb(45, 43, 38);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    transition: transform 0.3s;
}
#m11:hover,
#m2:hover,
#m3:hover
{
    transform: scale(1.05);
}
.img
{
    border: 2px solid black;
    border-radius: 20px;
}

footer {
    background-color: #000000;
    padding: 20px;
    border: 2px solid rgb(126, 152, 88);
    border-radius: 20px;
}
footer p{
    text-align : center ;
    color : white;
    margin : 0;
}
