*{
    padding: 0;
 
    font-family: sans-serif;
}
    body {
        background-image: url('boii.jpg');
        background-size: cover; /* Ensures the image covers the entire viewport */
    }


.sign_up{
    height: 100vh;
    /*background: url(img/background.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(18, 17, 17, 0.932); /* Red color with 50% opacity */
    width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    border: 1.5px solid rgb(7, 26, 70);
}

h1{
    color: white;
    font-size: 40px;
}

#create{
    font-size: 12px;
    color: white;
}

input{
    padding: 10px;
    border: 1px groove black;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.details input{
   width: 370px;
}
#firstName
{
    width: 270px;
}
#lastName
{
    width: 270px;
}
.name{
	display: inline-block;
}

.details{
    display: flex;
    flex-direction: column;
}

.check{
    display: inline-block;
}
.a
{
    text-align: center;

}
#register_btn{
    text-decoration: none;
    padding: 20px 120px;
    border: 1px solid rgb(33, 33, 36);
    background: rgb(207, 125, 31);
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: -6px;

#register_btn:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: .5s;
}

.term a{
    color: white;
}

#privacy{
    color: white;
}

.signIn{
    display: block;
    color: rgb(232, 217, 217);
    position: absolute;
    top: 81%;
    text-decoration: none;
}

.checkbox{
    width: 355px;
    margin-top: 10px;
}

.signIn p span a{
    color: rgb(236, 224, 224);
    margin-left: 6px;
    text-decoration: none;
}
}