* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  font-size: 26px;
  color: #333333;
  font-weight: 600;
}
.navbar{
  position: relative;
  z-index: 23;
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: white;
}
.navbar-main{
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
}

img{
  background-size: cover;
  height: 614px;
  width: 100%;
  margin-top: 5%;
  position:relative;
  z-index: -1;
}
.imgdiv{
  
  position:absolute;
  top: 290px;
  left: 177px;
  font-size: 35px ;
   color: rgb(39, 44, 48);
   margin: 10px;
}
.container {
	max-width: 640px;
	/* margin: 30px auto; */
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}
.comment {
	display: block;
	transition: all 1s;
}
.input{
  height: 70px;
  width: 167%;
  font-size: 30px;
  background-color: #dbe5e4;
  box-shadow: 5px 10px #888888;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}
container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}
button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
button.primaryContained:hover {
	background: #9201A8;
}
footer {
  height: 400px;
  width: 100%;
  background-color: #232f2e;
}

.social {
  text-align: center;
  font-size: 50px;
}

.social a {
  position: relative;
  top: 50px;
  margin: 25px;
  color: #ffffff;
}
.text2{
 
  font-size:35px ;
  position: relative;
  top: 50px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
}