body {
    font-family: "Open Sans";
    background-image: url(hero.jpg);
    background-position: center;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  .sec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   margin-left: 80px;
  }
#comment-box, #post {
    width: 600px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#comment-box{
  padding: 20px;
}
#post{
  font-size: 20px;
  padding: 10px;
}
#post:hover{
    background-color: rgb(119, 232, 132);
}
  header {
    display: flex;
    background-color: #0f1111; 
    align-items: center;
    color: white;
    padding: 20px;
    justify-content: space-between;
    border-radius: 30px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
  }
  

  
  .hero {
    color : black;
    
    padding: 20px;
  }
  
  .hero h2 {
    color: white;
    font-size: 50px;
   margin-left: 10px;
  }
  
  .hero form {
    margin-top: 20px;
  }
  
  
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
  }
  
  button {
    
    padding: 10px;
    background-color: #0f1111;
    color: white;
    border: none;
  }
  
  .categories {
    margin-top: 20px;
  
  }
  
  .categories h2 {
    font-size: 24px;
    margin-bottom: 0;
    background-color: black;
    color:aliceblue;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories li {
    display: inline-block;
    padding: 10px;
  }
  
  a:hover {
    color: #ccc;
  }

  footer {
    color: white;
    text-align : center ;
    padding: 20px;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .div {
    display : flex;
    flex-direction : column ;
    justify-content: space-between ;
  }

  ::placeholder{
    font-size : 20px;
  }
    
  
    