<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>explore</title>
  <link rel="stylesheet" href="explore.css">

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="explore.js"></script>
</head>

<body>
  <header>
    <div class="navbar">
      <div class="navbar-main" style="font-size: 25px;">
        <h2 style="margin-left: 30px; color: rgb(255, 4, 4); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">XcursionXpert</h2>
        <a class="ab" href="test.html" style="  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><b>HOME</b></a>
        <a  class="ab" style="  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><b>LOGIN</b></a>
        <a class="ab" style="margin-right: 30px;   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><b>CONTACT US</b></a>
    </div>
    </div>
  </header>

  <div class="main">
    <main>
      <div class="img"><img style="border: 2px solid black ; border-radius: 15px;" src="img.jpg" alt="">
      </div>
      <div class="imgdiv">
        <h1>EXPLORE</h1><br>
        <p style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px; font-weight: bolder;">Submerge yourself in the <br> experience</p>
      </div>
  </div>
  <section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
            <p v-for="items in item" v-text="items"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"
            @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="social"><a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
<a href=""><i class="fa-brands fa-linkedin"></i></a>
<a href=""><i class="fa-brands fa-github"></i></a></div><br>
<div class="text2"><p>Info . Support . Marketing</p><br><p>Terms of Use . Privacy Policy</p><br>
<p><i class="fa-regular fa-copyright"></i> Xcursion Xpert</p></div>
</footer>

  </main>

</body>

</html>